extends layout

block content
  h1= title
  p Welcome Flor to #{title}

  form(action="/signUp", method="post")
    p Name:
    name: input(type="text", name="name")
    p Last name:
    lastname: input(type="text", name="lastname")
    p Username:
    username: input(type="text", name="username")
    p Password:
    password: input(type="password", name="password")

    //-button(type="submit") Aceptar de esta forma tambien funciona
    br
    br
    input(type="submit" value="Aceptar")